* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: "Roboto", sans-serif;
    }
    body {
      height: 100vh;
      display: flex;
    }
    .sidebar {
      flex: 0 0 20rem;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      border-right: 1px solid #E8EBE4;
      max-width: 15rem;
    }
    .sidebar-header {
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      border-bottom: 1px solid #BEC1BB;
    }
    .sidebar-header img {
      width: 40px;
      border-radius: 50%;
    }
    .icons{
      display: flex;
      gap: 0.7rem;
      font-size: 1.3rem;
    }
    .container{
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    .button-class{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 8rem;
      border-bottom: 1px solid #BEC1BB;
    }
    .nuevo-chat {
      margin: 1rem;
      padding: 0.5rem;
      background-color: #A491D2;
      color: white;
      text-align: center;
      border: none;
      cursor: pointer;
      width: 70%;
      height: 40%;
    }
    .nuevo-chat:hover{
      background-color: #CDC3E6;
    }
    .contacts {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .contact {
      display: flex;
      align-items: center;
      padding: 0.5rem 1rem;
      border-bottom: 1px solid #BEC1BB;
      justify-content: start;
      min-height: 5rem;
      height: 5.2rem;
    }
    .contact img {
      width: 50px;
      border-radius: 50%;
      margin-right: 0.5rem;
    }
    .nombre{
      font-size: 16px;
    }
    .estado{
      font-size: 14px
    }
    .main-content {
      flex-grow: 1;
      background-color: #E8EBE4;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 2rem;
    }
    .main-content img {
      width: 20rem;
      margin-bottom: 1rem;
      border-radius: 3%;
    }
    .main-content h2 {
      margin-bottom: 0.5rem;
      font-size: 45px;;
    }
    .main-content p {
      font-size: 16px;
      color: #444749;
    }
    .main-content strong {
      color: #1B1F21;
    }